project/target
project/.bloop/
project/project/target
project/project/project
target
.idea
.env
.DS_Store
.ensime
.ensime_cache/
tags
tmp
.cache-main
.cache-tests
.classpath
.project
.settings/
bin/
.metals/
.bloop/
